#questionBox {
	height: 400px;
	width: 600px;
	background-color: #F7F8E0;
	margin-left: calc(50% - 300px);
	text-align: center;
}

#allRight {
	background-color: gray;
	height: 50px;
	width: 100px;
	margin-left: calc(50% - 50px);
	margin-top: 20px;
}